/* BASIC */
body{
    background-color: var(--dark);
    color:white;
    overflow-y: scroll;
}
:root {
    color-scheme: dark;
}

.form-control, .form-select, .form-control:focus{
    background-color: var(--dark);
    color:white;
    border-color: var(--bright);
}
label{
    margin-bottom: .2rem;
}
.form-select{
    background:var(--dark) url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='white' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px !important;
}



/* CARD */
.card{
    background-color: var(--medium);
    color:white;
    border-color: var(--bright);
    border-radius: 10px;
    margin-bottom: 10px;
}
.card-body{
    padding: 30px;
}
.card {
    margin-bottom: 20px;
}
.card-header{
    border-color: var(--bright);
    padding-top: 15px;
}

.card-footer .btn{
    margin-left: 10px;
    float:right;
}
label{
    margin-top: 10px;   
    color:white; 
}

::placeholder {
    color: red;
}
/* button */
  
.btn-submit{
    float:right;
    border:1px solid var(--bright);
    color:white;
    background-color: var(--medium);
}
.btn-submit:hover{
    background-color: var(--medium);
    color:white;
    border:1px solid var(--bright);
}

/* COLORS */

*{
    --dark-selection:rgb(20, 25, 34);
    --dark:rgb(24, 24, 24);
    --medium:rgb(36, 36, 36);
    --bright:rgb(85, 85, 85);
}
.danger{
    --color: rgb(255,50,50);
}	
.success{
    --color: rgb(50,170,50);
}
.info{
    --color: rgb(50, 170, 190);
}
.warning{
    --color: rgb(255, 170, 50);
}
.hover{
    transition: all .2s ease-in-out;
    color:#aaa;
}
.hover:hover{
    color:var(--color)
}
.inert{
    color:var(--color)
}
